[submodule "packages/MuonCVXDDigitiser"]
	path = packages/MuonCVXDDigitiser
	url = git@github.com:MuonColliderSoft/MuonCVXDDigitiser.git
[submodule "packages/ClusterShapeAnalysis"]
	path = packages/ClusterShapeAnalysis
	url = git@github.com:spg-berkeleylab/ClusterShapeAnalysis.git
[submodule "packages/MarlinTrkProcessors"]
	path = packages/MarlinTrkProcessors
	url = git@github.com:spg-berkeleylab/MarlinTrkProcessors.git
